apiVersion: apps/v1
kind: Deployment
metadata:
  name: intelligence-service
  namespace: videocopilot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: intelligence-service
  template:
    metadata:
      labels:
        app: intelligence-service
    spec:
      containers:
        - name: intelligence-service
          image: jaiditya/videocopilot-intelligence:latest
          ports:
            - containerPort: 8002
          env:
            - name: EMBEDDING_SERVICE_URL
              value: "http://embedding-service:8001"
---
apiVersion: v1
kind: Service
metadata:
  name: intelligence-service
  namespace: videocopilot
spec:
  selector:
    app: intelligence-service
  ports:
    - port: 8002
      targetPort: 8002