apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: videocopilot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: web-app
          image: jaiditya/videocopilot-web-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              value: "postgresql://neon-db-url"
            - name: NEXTAUTH_URL
              value: "http://ab12cd34ef56gh78-482561301.us-east-1.elb.amazonaws.com"
            - name: AWS_REGION
              value: "us-east-1"
---
apiVersion: v1
kind: Service
metadata:
  name: web-app-service
  namespace: videocopilot
spec:
  type: LoadBalancer
  selector:
    app: web-app
  ports:
    - port: 80
      targetPort: 3000
